[user]
	email = examples@mail.com
	name = Pyxelslap
[http]
	lowSpeedLimit = 5
	lowSpeedTime = 9999
	version = HTTP/1.1
[core]
	compression = 0
[credential]
	helper = store
[safe]
	directory = /storage/emulated/999
	directory = /storage/emulated/999/store
